.sideBar{
    position: relative;
    float: left;
    width: 10%;
    height: 500px;
}

.sideBar .sideBarHeader{
    height: 60px;
}

.header{
    height: 60px;
    width: 100%;
}

.main{
    position: relative;
    float: right;
    width:90%;
    height:500px;
}